.root {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(1, 5, 37, 0.3); /* Black w/ opacity */
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    width: 370px;
    height: fit-content;
}

.createButton{
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    width: fit-content;
    margin: 4px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.createButton:hover{
    background-color: rgba(33, 135, 86, 0.16);
    transition-duration: 200ms;
    border-radius: 4px;
}

.title{
    padding: 8px;
    box-sizing: border-box;
}
